
.light{
    background: #F1F3F5;
    color: #6F6F6F;
}
.dark{
    background: #404040;
    color: #fff;
}
.light_right{
    background: #fff;
    color: #6F6F6F;
}
.dark_right{
    background: #262626;
    color: #fff;
}
